.body{
    background-color: #fbfbfb;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

.contentContainer{
    height: calc(100dvh - 50px);
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.stationContainer{
    width: 15%;
    height: calc(100dvh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: start;
    overflow: auto;
    scrollbar-width: none;
}

.programContainer{
    width: 70%;
    height: calc(100dvh - 50px);
    overflow: auto;
    scrollbar-width: none;
}

.program{
    width: calc(100% - 8px);
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #e2e2e2;
    line-height: 50px;
    margin: 4px;
}

@media screen and (max-width: 800px) {
    .contentContainer{
        height: calc(100dvh - 50px);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .stationContainer{
        width: calc(100% - 8px);
        height: 48px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .programContainer{
        width: calc(100% - 8px);
        height: calc(100dvh - 50px - 48px - 48px);
        overflow: auto;
        scrollbar-width: none;
    }
}