.body{
    background-color: #fbfbfb;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

.contentContainer{
    height: calc(100dvh - 50px);
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.stationContainer{
    width: 15%;
    height: calc(100dvh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: startW;
    overflow: auto;
    scrollbar-width: none;
}

.programContainer{
    width: 70%;
    height: calc(100dvh - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.programSubContainer{
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    margin: 0 auto; 
    scrollbar-width: none;
}

.stationButton{
    width: calc(100% - 8px);
    height: 60px;
    text-align: center;
    font-size: 16px;
    margin: 4px;
}

.weekdayButton{
    width: calc(100% - 8px);
    height: 60px;
    text-align: center;
    font-size: 16px;
    margin: 4px;
}

.program{
    width: calc(100% - 8px);
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #e2e2e2;
    line-height: 50px;
    margin: 4px;
    cursor: pointer;
}


@media screen and (max-width: 800px) {
    .contentContainer{
        height: calc(100dvh - 50px);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .stationContainer{
        width: calc(100% - 8px);
        height: 48px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .stationButton{
        width: calc(20% - 8px);
        height: calc(100% - 8px);
        text-align: center;
        margin: 4px;
        font-size: 14px;
    }

    .weekdayButton{
        width: calc(14.2% - 8px);
        height: calc(100% - 8px);
        text-align: center;
        margin: 4px;
        font-size: 10px !important;
        padding: 0px !important;
    }

    .programContainer{
        width: calc(100% - 8px);
        height: calc(100dvh - 50px - 48px - 48px);
        display: flex;
        align-items: start;
        justify-content: start;
    }
}